/* Ce CSS s'applique aux 3 cas (button, a[routerLink], a[href]) */
.style-btn {
  /* Style de base pour <a> */
  display: inline;
  text-decoration: none;

  /* Tes styles */
  background-color: #2c3e50;
  color: white;
  border: 1px solid #2c3e50;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #46627e;
  }

  /* Gère l'état 'disabled' pour les <button> ET les <a> */
  &:disabled,
  &[aria-disabled="true"] {
    background-color: #999;
    cursor: not-allowed;
    opacity: 0.7;

    &:hover {
      background-color: #999; 
    }
  }
}

/* Tes styles de taille (j'ai juste renommé 'medium' en 'm', etc.) */
.style-btn.btn-medium {
  font-size: 20px;
  padding: 15px;
}

.style-btn.btn-small {
  font-size: 16px;
  padding: 10px;
}

.style-btn.btn-large {
  font-size: 24px;
  padding: 20px;
}