@import "../../../../styles.css";

.style-btn {
    background-color: #4d5153;
    color: white;
    border: 1px solid #4d5153;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    &:hover{
        background-color: #767f83;
    }
}