@import "@fortawesome/fontawesome-free/css/all.css";

html, body {
    margin: 0;

}
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #bfc1c4 !important;
}
