.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.card {
  border: 1px solid #eee; /* Bordure très légère au lieu d'une ombre */
  border-radius: 8px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.card-body{
    background-color: rgb(175, 174, 174);
}

.card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}