@import "../../../../styles.css";

.background{
    background-color: #4d5153;
    width: 100%;
    margin: 0px;
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #4d5153;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex; 
    align-items: center; 
    height: 70px; 
}
.logo{
    background-image: url('../../../../assets/LogoTopBar.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    height: 55px;
    width: 180px;
    margin-right: 4em;
    margin-left: 20px;
}
.buttonBar{
    display: inline;
}

.menu-container {
    position: relative;
    display: inline-block; 
}
mat-menu {
    max-width: 300px;
    z-index: 1050;
    background-color: #4d5153;
    color: white;
}
