@import "../../../../styles.css";

.background{
    background-color: #4d5153;
    width: 100%;
    margin: 0px;
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d5153;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.buttons{
    margin-left: 20%;
}
.logo{
    background-image: url('../../../../assets/LogoTopBar.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    height: 90%;
    width: 15%;
    margin-left: 15px;
    position: absolute;
    display: flex;
}

.social-media{
    background-color: #4d5153;
    color: white;
    border: 1px solid #4d5153;
    border-radius: 8px;
    margin: 20px;
    height: 21px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle; 
    display: inline-block; 
    &.tripadvisor{
        margin-left: 0;
    }
}
.link{
    display: inline-block;
    width: 20px;
    margin-right: 50px;
}

.menu-container {
    position: relative;
    display: inline-block; 
}
mat-menu {
    max-width: 300px;
    z-index: 1050;
    background-color: #4d5153;
    color: white;
}
