@import "../../../../styles.css";

.background{
    background-color: #4d5153;
    width: 100%;
    margin: 0px;
    z-index: 999;
}
.ulMobile{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #2c3e50; /* Nouveau fond bleu-gris foncé */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex; 
    align-items: center; 
    height: 70px; 
    justify-content: center;
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #2c3e50; /* Nouveau fond bleu-gris foncé */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex; 
    align-items: center; 
    height: 70px;
}

.logo{
    background-image: url('../../../../assets/LogoTopBar.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    height: 55px;
    width: 180px;
    margin-right: 4em;
    margin-left: 20px;
}
.buttonBar{
    display: flex; /* <-- ÉTAIT 'display: block;' */

    gap: 5px; /* Espace entre les icônes */
}
.buttons{
    display: flex;
    align-items: center;
    /*gap: 10px;*/
}
.menu-container {
    position: relative;
    display: inline-block; 
}
mat-menu {
    max-width: 300px;
    z-index: 1050;
    background-color: 2b5443;
    color: white;
}
