
<div>
    <div class="hero-section">

        <div class="hero-overlay"></div> 

        <div class="container">
            <h1 class="text">{{ 'home.title' | translate}}</h1>
            <h2 class="text description">{{ 'home.description' | translate}}</h2>
            
            <tgam-gjt-button 
                class="hero-cta-button"
                [label]="'home.ctaButton' | translate" 
                routerLink="/menu">
            </tgam-gjt-button>
        </div>
        <div class="hero-info-overlay" *ngIf="responsive.isWeb$ | async">
            <div class="hero-info-content ml-2">
                <div class="info-col">
                    <h4 class="info-title">{{ 'home.horaires.title' | translate }}</h4>
                    <ul class="info-list">
                        <li *ngFor="let hour of allHours" class="mb-2">
                            <strong *ngIf="hour.day">{{ hour.day }} : </strong> 
                            
                            <span *ngIf="hour.status" class="ferme">{{ hour.status }}</span>
                            
                            <span *ngIf="!hour.status && hour.day">{{ hour.hours }}</span>
                        </li>
                    </ul>
                </div>

                <div class="info-col">
                    <h4 class="info-title">{{ 'home.horaires.serviceTitle' | translate }}</h4>
                    
                    <p *ngIf="serviceHours">
                        {{ serviceHours.hours }}
                    </p>
                    
                    <h4 class="info-title stacked">{{ 'home.paiements.title' | translate }}</h4>
                    <p>{{ 'home.paiements.list' | translate }}</p>
                </div>
            </div>
            <div class="scroll-down-indicator">
                <i class="fas fa-chevron-down animated-arrow"></i>
            </div>
        </div>
    </div>

    <div class="service-grid">
        <div class="services-section">
        
            <div class="container py-5">
                <div *ngFor="let feature of allFeatures; let i = index" 
                    class="full-width-section"
                    [class.section-alt]="i % 2 !== 0"> 
                        <div class="container">
                            
                            <tgam-home-item 
                            [cardData]="feature">
                            </tgam-home-item>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


