.hero-section {
    position: relative;
    height: 100vh; 
    background-image: url('../../../../assets/background.jpg');
    background-size: cover; 
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; 
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.container {
    position: relative; 
    z-index: 2;
    color: #1181ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text {
    font-family: 'Montserrat', sans-serif; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
    font: 5em sans-serif;
}

.text.description {
    font-size: 2.5rem;
    font-weight: 300; 
    margin-bottom: 30px;
}

.hero-cta-button {
    --button-font-size: 1rem;
    --button-padding: 15px 30px;
    --button-background: #FFA500; 
    --button-color: #333;
    --button-border-radius: 5px;
    font-weight: bold;
}